@import "base/reset.scss";
@import "base/variables.scss";
@import "base/colors.scss";

body {
    font-family: $font-family;
}

.wrapper {
    padding-top: 76px;
    padding-bottom: 45px;

    background-color: $white;   
    
    @media (min-width: 1600px) {
        padding-top: 256px;
        padding-bottom: 168px;
    }
}