@each $key, $val in $colors {
    .button_#{$key} {
        background-color: $val;
    }

    .card__svg_#{$key} {
        color: $val;
    }
    
    .card__title_#{$key} {
        color: $val;
    }
}