$red: #FF0000;
$white: #FFFFFF;
$dark-blue: #3A556F;

$border: 1.45868px solid #D7E2EA;

$card-background: linear-gradient(180deg, #FFFFFF 58.23%, #F2F6F8 100%), #FFFFFF;

$font-family: 'Open Sans', sans-serif;

$colors: (  
    "red" :  $red,
)