.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background: $card-background;
    border: $border;
    box-sizing: border-box;

    @media (min-width: 1600px) {
        margin: inherit;
        max-width: 357px;
    }

    &__img {
        img {
            max-width: 100%;
        }
    }
    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 16px 36px 16px;
    }
    &__svg {
        position: absolute;
        top: -23px;
        right: 15px;
        width: 55px;
        height: 42px;
        fill: currentColor;
    }
    &__title {
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
    }
    &__prices {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__block {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
    }
    &__price {
        &_old {
            margin-right: 6px;
            font-style: normal;
            font-weight: 300;
            font-size: 23.3389px;
            text-decoration-line: line-through;
            color: $blue;
        }
        &_now {
            margin-bottom: 28px;
            font-weight: 600;
            font-size: 43.7604px;
            line-height: 100%;
            color: $blue;
        }
    }
    &__discount {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 132px;
        padding: 3px 16px;
        font-weight: 700;
        font-size: 20.4215px;
        line-height: 100%;
        color: $blue;
        background-image: url('../img/icons/icons.svg#card');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
    }
    &__info {
        margin-bottom: 33px;
        width: 110px;
        padding: 5px 5px 10px 5px;
        font-weight: 600;
        font-size: 14.5868px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: $blue;

        border-top: $border;
        border-bottom: $border;
    }
    &__button {
        width: 100%;
    }
}