.card {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    background: $card-background;
    border: $border;
    box-sizing: border-box;
    &__img {
        img {
            max-width: 100%;
        }
    }
    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 16px 36px 16px;
    }
    &__svg {
        position: absolute;
        top: -27px;
        right: 15px;
        width: 55px;
        height: 42px;
        fill: currentColor;
    }
    &__title {
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #FF0013;
        text-transform: uppercase;
    }
    &__prices {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__block {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
    }
    &__price {
        &_old {
            margin-right: 6px;
            font-style: normal;
            font-weight: 300;
            font-size: 23.3389px;
            text-decoration-line: line-through;
            color: #274562;
        }
        &_now {
            margin-bottom: 28px;
            font-weight: 600;
            font-size: 43.7604px;
            line-height: 100%;
            color: #274562;
        }
    }
    &__discount {
        padding: 3px 16px 5px 3px;
        font-weight: 700;
        font-size: 20.4215px;
        line-height: 100%;
        color: #000000;
        background-color: #FEED01;
    }
    &__info {
        margin-bottom: 33px;
        width: 110px;
        padding: 5px 5px 10px 5px;
        font-weight: 600;
        font-size: 14.5868px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #274562;

        border-top: $border;
        border-bottom: $border;
    }
    &__button {
        width: 100%;
    }
}