.offer {
    &__wrapper {
        padding: 56px 11px 23px 11px;
        background-color: #D7E2EA;
    }
    &__title {
        margin-bottom: 55px;
        font-weight: 700;
        font-size: 30px;
        line-height: 31px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}